.header {
  top: -100px;
  z-index: 99999;
  width: 100%;
  height: 100px;
  background-color: #fff;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-fixed {
    position: fixed;
    left: 0;
    top: 0;
    transition: top 300ms ease-in-out;
  }

  &__logo {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;

    &-image {
      vertical-align: middle;
      padding-top: 3px;
    }
  }

  &__phone {
    padding-right: 100px;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;

    &-icon-arrow {
      vertical-align: middle;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__button {
    padding-bottom: 2px;
    width: 288px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    color: $color-brand;
    background-color: $color-brand-light-1;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

    &:hover {
      color: #fff;
      background-color: $color-brand;
    }

    &:active {
      color: #fff;
      background-color: $color-brand-dark-7;
    }
  }

  &__phone-icon {
    display: none;
  }
}

.nav {
  &__hamburger {
    z-index: 2;
    display: none;
    padding-bottom: 2px;
    color: $color-gray-6;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 2px;
    width: 700px;
    font-size: 20px;
    line-height: 130%;
  }

  &__link {
    color: $color-gray-8;
    transition: color 200ms ease-in-out;

    &:hover {
      color: $color-brand;
    }

    &:active {
      color: $color-brand-dark-7;
    }
  }
}

@media (max-width: (1700px)) {
  .nav {
    &__hamburger {
      display: inline-block;
    }

    &__list {
      display: none;
    }
  }
}

@media (max-width: (1062px)) {
  .header {
    top: -50px;
    height: 50px;

    &-fixed {
      top: 0;
    }

    &__logo {
      padding: 0;

      &-image {
        width: 172px;
      }
    }

    &__center {
      order: -1;
    }

    &__phone-icon {
      display: inline-block;
      padding-top: 12px;
      padding-right: 23px;
      padding-bottom: 12px;

      &-image {
        vertical-align: middle;
      }
    }

    &__phone,
    &__button {
      display: none;
    }
  }

  .nav__hamburger {
    padding-left: 23px;

    &-box {
      width: 22px;
    }

    &-inner {
      width: 22px;

      &::before,
      &::after {
        width: 22px;
      }
    }
  }
}
