.order {
  &__wrapper {
    display: flex;
  }

  &__content {
    &-block {
      margin: 0 auto;
      margin-top: 15px;
      max-width: 500px;
    }

    &-subtitle {
      display: flex;
    }

    &-number {
      margin-right: 30px;
    }

    &-title {
      max-width: 410px;
      font-family: "Montserrat", "Arial", sans-serif;
      font-weight: 600;
      font-size: 28px;
      line-height: 150%;
    }

    &-desc {
      margin: 0;
      margin-top: 15px;
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
    }

    &-one {
      .order__content-image {
        clip-path: polygon(92% 0, 100% 50%, 92% 100%, 0% 100%, 0% 0%);
      }
    }

    &-second {
      .order__content-image {
        clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 9% 50%, 0% 0%);
      }
    }

    &-third {
      .order__content-image {
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 8% 50%, 0% 0%);
      }
    }
  }
}
