@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    font-style: $style;
    font-weight: #{$weight};
    font-display: swap;
    src: url('../fonts/#{$url}.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/#{$url}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/#{$url}.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/#{$url}.woff') format('woff'), /* Modern Browsers */
         url('../fonts/#{$url}.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/#{$url}.svg#CustomFont') format('svg'); /* Legacy iOS */
  }
}
