@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    src: url("../fonts/#{$url}.eot");
    src:
      local(""),
      url("../fonts/#{$url}.eot?#iefix") format("embedded-opentype"),
      url("../fonts/#{$url}.woff2") format("woff2"),
      url("../fonts/#{$url}.woff") format("woff"),
      url("../fonts/#{$url}.ttf") format("truetype"),
      url("../fonts/#{$url}.svg#CustomFont") format("svg");
    font-family: "#{$font-family}";
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;
  }
}
