$desktop: 1025px;
$tablet: 1024px;
$mobile: 768px;
$color-brand: #0085ff;
$color-brand-light-1: #e9f4ff;
$color-brand-light-2: #cce7ff;
$color-brand-light-3: #99ceff;
$color-brand-light-4: #66b6ff;
$color-brand-light-5: #339dff;
$color-brand-dark-7: #006acc;
$color-brand-dark-8: #005099;
$color-brand-dark-9: #003566;
$color-brand-dark-10: #001b33;
$color-gray-1: #f0f0f0;
$color-gray-2: #e5e5e5;
$color-gray-3: #ccc;
$color-gray-4: #b2b2b2;
$color-gray-5: #999;
$color-gray-6: #7f7f7f;
$color-gray-7: #666;
$color-gray-8: #4c4c4c;
$color-gray-9: #333;
$color-gray-10: #191919;
